{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disaster Risk Management</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.0/html2pdf.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.0/html2pdf.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.0.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800&family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <body>
    {% block content %}

    <main>
      
        <section class="preparedness">
            <div class="d-flex justify-content-center align-items-center">
                <h1 style="font-weight: 700;">BARANGAY REPORTS</h1>
            </div>
            <button id="exportAllPdfButton" class="btn btn-danger mb-2">
                Export to PDF
            </button>
                <div class="select-date mb-3">
                    <div class="d-flex flex-row w-100">
                        <div class="p-1">
                            <input type="date" class="form-control" id="date-filter-input" name="filter-date">
                        </div>
                        <div class="p-1 w-50">
                            <form id="subject-search-form" class="input-group">
                                <input class="form-control" type="search" placeholder="Search by Subject" aria-label="Search" id="subject-search-input">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                          </svg>                                
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div>
                        
                </div>
    
            </div>
    
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SUBJECT</th>
                        <th style="width: 20%;">DATE REPORTED</th>
                        <th style="width: 20%;">TIME REPORTED</th>
                        <th style="width: 20%;">BARANGAY</th>
                        <th style="width: 20%;">STATUS</th>


                    </tr>
                </thead>
                <tbody id="all-reports-table">
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center" id="pagination">
                    <li id="previous-page" class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li id="next-page" class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="modal fade bd-example-modal-lg" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reportModalLabel">Edit Report</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                    <th>SUBJECT</th>
                                    <td><span id="modalSubject"></span></td>
                                </tr>
                                    <tr>
                                        <th>DATE REPORTED</th>
                                    <td><span id="modalDateReported"></span></td>
                                </tr>
                                    <tr>
                                        <th>TIME REPORTED</th>
                                    <td><span id="modalTimeReported"></span></td>
                                    </tr>
                                    <tr>
                                    <th>BARANGAY</th>
                                    <td><span id="modalBarangay"></span></td>
                                    </tr>
                                <tr>
                                    <th>DESCRIPTION</th>
                                    <td><span id="modalDescription"></span></td>
                                  </tr>
                                  <tr>
                                    <th>REPORTED BY</th>
                                    <td><span id="modalRespondentName"></span></td>
                                </tr>
                                <tr>
                                  <th>ATTACHMENT</th>
                                  <td><div id="editAttachment">
                                        <a href="{{ data.attachment }}" target="_blank">View Attachment</a>
                                      </div>
                                  </td>
                                </tr>
                                <tr>
                                  <th>LOCATION</th>
                                  <td><span id="modalLocation"></span></td>
                                </tr>
                                <tr>
                                    <th>STATUS</th>
                                    <td><span id="modalStatus"></span></td>
                                  </tr>
                                    </tbody>
                                </table>
                                <!-- <a href="#" id="exportPdfButton" class="btn btn-primary">Export to PDF</a> -->
                                <label>Location</label>
                                <div id="map" style="height: 300px;"></div>
                                
                                <div class="mb-3" id="locationFields" style="display: none;">
                                    <input type="hidden" type="text" class="form-control" id="editLatitude" name="editLatitude" readonly>
                                </div>
                                <div class="mb-3" id="locationFields" style="display: none;">
                                    <input type="hidden" type="text" class="form-control" id="editLongitude" name="editLongitude" readonly>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="exportPdfButton" class="btn btn-danger mb-2"><svg class="mb-1 mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                              <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"/>
                              <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"/>
                            </svg>Export to PDF</button>
    
                        </div>
                    </div>
                </div>
            </div>
          
          </section>


    </main>
    <!-- <footer>
      <nav class="footer">
        <p>&copy; 2023 Disaster Risk Management</p>
      </nav>
    </footer> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.16/jspdf.plugin.autotable.min.js"></script>
    <script>
        var allBarangays = [];
        var currentPage = 1;
        var paginationData = null;
        var map = null;

        $(document).ready(function () {
                window.jsPDF = window.jspdf.jsPDF;

                var modalData = null;
                var selectedReport = null;

                $("#filter-date").change(function () {
                    const selectedDate = $(this).val();
                    console.log("Filter Date Change Event - Selected Date:", selectedDate); 
                    filterAnnouncementsByDate(selectedDate);
                });


                $("#next-page").click(function (e) {
                    e.preventDefault();
                    if (paginationData && paginationData.has_next) { 
                        loadAllReports(paginationData.next_page_number);
                    }
                });

                $("#previous-page").click(function (e) {
                    e.preventDefault();
                    if (paginationData && paginationData.has_previous) {
                        loadAllReports(paginationData.previous_page_number);
                    }
                });

                $(document).on("submit", "#subject-search-form", function (e) {
                e.preventDefault();
                const subjectQuery = $("#subject-search-input").val();
                if (subjectQuery) {
                    searchAnnouncementsBySubject(subjectQuery);
                }
            });

            $("#date-filter-input").change(function () {
                const selectedDate = $(this).val();
                filterReportsByDate(selectedDate);
            });


            $("#subject-search-input").on("input", function () {
                const subjectQuery = $(this).val();
                searchReportsBySubject(subjectQuery);
            });

            function filterReportsByDate(selectedDate) {
                console.log("Selected date:", selectedDate);
                $.ajax({
                    url: "{% url 'get_all_reports' %}",
                    method: "GET",
                    data: { date: selectedDate },
                    dataType: "json",
                    success: function (data) {
                        updateReportsTable(data.reports, 'all-reports-table');
                    },
                    error: function (xhr, status, error) {
                        console.error("Error filtering reports by date: " + error);
                        console.log(xhr.responseText);
                    }
                });
            }


            function searchReportsBySubject(subjectQuery) {
                $.ajax({
                    url: "{% url 'get_all_reports' %}",
                    method: "GET",
                    data: { subject: subjectQuery },
                    dataType: "json",
                    success: function (data) {
                        updateReportsTable(data.reports, 'all-reports-table');
                    },
                    error: function (xhr, status, error) {
                        console.error("Error searching reports by subject: " + error);
                        console.log(xhr.responseText);
                    }
                });
            }
            $("#barangaySelect").change(function () {
                const selectedBarangayId = $(this).val();

                $.ajax({
                    url: "{% url 'get_all_reports' %}",
                    method: "GET",
                    data: { barangay: selectedBarangayId },
                    dataType: "json",
                    success: function (data) {
                        updateReportsTable(data.reports, 'all-reports-table');
                        paginationData = data.pagination; 
                        console.log(data)
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching reports by barangay: " + error);
                        console.log(xhr.responseText);
                    }
                });
            });

            function populateBarangaysDropdown(barangays) {
                const barangaySelect = $("#barangaySelect");

                barangaySelect.empty(); 

                barangaySelect.append('<option selected disabled>Barangay</option>');

                barangays.forEach(barangay => {
                    const option = `<option value="${barangay.barangay}">${barangay.barangay}</option>`;
                    barangaySelect.append(option);
                });
            }

            function fetchBarangays() {
                $.ajax({
                    url: '/get_barangays/',
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        console.log('Received barangays:', data);
                        populateBarangaysDropdown(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching barangays:', error);
                    }
                });
            }

            fetchBarangays();
                
        $(document).on("click", "tr[data-toggle='modal']", function () {
                const reportId = $(this).data("report-id");
                var report = {
                  subject: $(this).data("subject"),
                  description: $(this).data("description"),
                  attachment: $(this).data("attachment"),
                  date_reported: $(this).data("date-reported"),
                  time_reported: $(this).data("time-reported"),
                  response_status: $(this).data("status"),
                  respondent_name: $(this).data("respondent-name")

                };
                selectedReport = report;
                console.log('selected report', selectedReport)
                displayReportDetails(reportId);
            });
            $("#exportPdfButton").on("click", function () {
              if (selectedReport) {
                var doc = new jsPDF();
                var logos = [
                    "{% static 'capstoneapp/ibaanlogo1.png' %}",
                    "{% static 'capstoneapp/ibaanlogo2.png' %}",

                ]
                var logoWidth = 20;
                var centerX = doc.internal.pageSize.width / 2 - (logoWidth * 2) / 2;
                var startY = 20;

                logos.forEach(function (logo, index) {
                    doc.addImage(logo, 'PNG', centerX + index * logoWidth, startY, logoWidth, logoWidth);
                });

                var headerText = "MUNICIPAL DISASTER RISK REDUCTION AND MANAGEMENT OFFICE";
                doc.setFontSize(15);
                var textWidth = doc.getStringUnitWidth(headerText) * doc.internal.getFontSize();
                var pageWidth = doc.internal.pageSize.width;
                var textX = (pageWidth - textWidth) / 2;
                var headerY = startY + logoWidth + 7; 
                doc.setFont(undefined, 'bold');
                doc.text(headerText, pageWidth / 2, headerY, 'center');

                const formattedDate = formatDateString(selectedReport.date_reported);

                var columns = ["Field", "Details"];
                var data = [
                  ["Subject", selectedReport.subject],
                  ["Date Reported", formattedDate],
                  ["Barangay", selectedReport.barangay],
                  ["Description", selectedReport.description],
                  ["Location", $("#modalLocation").text()],
                  ["Status", selectedReport.response_status],
                  ["Reported by", selectedReport.respondent_name],

                ];

                var columnWidths = [50, 100]; 
                var columnStyles = {
                  0: { cellWidth: 50, halign: "left" },
                  1: { cellWidth: 130, halign: "left" },
                };

                doc.autoTable({
                  head: [columns],
                  body: data,
                  theme: "striped",
                  columnStyles: columnStyles,
                  margin: { top: startY + logoWidth + 20 },                
              });
              if (selectedReport.attachment) {
                var img = new Image();
                img.crossOrigin = 'Anonymous'; 
                img.onload = function () {
                  var canvas = document.createElement('canvas');
                  var ctx = canvas.getContext('2d');
                  canvas.width = img.width;
                  canvas.height = img.height;
                  ctx.drawImage(img, 0, 0);

                  var dataURL = canvas.toDataURL('image/png');
                  var imgWidth = 100;
                  var imgHeight = (img.height * imgWidth) / img.width;
                  var imgX = 10;
                  var imgY = doc.autoTable.previous.finalY + 10;
                  doc.setFontSize(12);
                  doc.text('Attachment:', imgX, imgY - 1);
                  doc.addImage(dataURL, 'PNG', imgX, imgY, imgWidth, imgHeight);

                  doc.save('report.pdf');
                };
                img.src = selectedReport.attachment;
              } else {
                doc.save('report.pdf');
              }

              }
            });
            
        });
        
        async function exportAllReportsToPDF(allBarangays) {
            try{
                const response = await fetch('/get_all_reports_without_pagination/');
                const allBarangays = await response.json();

                if (!allBarangays || !allBarangays.length) {
                    console.error('No reports found.');
                    return;
                }
                
                var doc = new jsPDF();
                var startY = 20;
                var logos = [
                    "{% static 'capstoneapp/ibaanlogo1.png' %}",
                    "{% static 'capstoneapp/ibaanlogo2.png' %}",
                ];
                var logoWidth = 20;
                var centerX = doc.internal.pageSize.width / 2 - (logoWidth * 2) / 2;
    
                logos.forEach(function (logo, index) {
                    doc.addImage(logo, 'PNG', centerX + index * logoWidth, startY, logoWidth, logoWidth);
                });
    
                var headerText = "MUNICIPAL DISASTER RISK REDUCTION AND MANAGEMENT OFFICE";
                doc.setFontSize(15);
                var textWidth = doc.getStringUnitWidth(headerText) * doc.internal.getFontSize();
                var pageWidth = doc.internal.pageSize.width;
                var textX = (pageWidth - textWidth) / 2;
                var headerY = startY + logoWidth + 7;
                doc.setFont(undefined, 'bold');
                doc.text(headerText, pageWidth / 2, headerY, 'center');
    
                var text = "BARANGAY REPORTS";
                var textWidth = doc.getStringUnitWidth(text) * doc.internal.getFontSize();
                var textX = (pageWidth - textWidth) / 2;
                var textY = doc.internal.pageSize.height / 2;
    
                doc.setFontSize(30);
                doc.text(text, textX + 80, textY, { align: 'center' });
    
                for (let index = 0; index < allBarangays.length; index++) {
                    var selectedReport = {
                        subject: allBarangays[index].subject,
                        date_reported: allBarangays[index].date_reported,
                        description: allBarangays[index].description,
                        location: allBarangays[index].location,
                        attachment: allBarangays[index].attachment,
                        barangay: allBarangays[index].barangay, 
                        longitude: allBarangays[index].longitude,
                        latitude: allBarangays[index].latitude,
                        response_status: allBarangays[index].response_status
                    };
    
                    doc.addPage();
    
    
                    logos.forEach(function (logo, index) {
                        doc.addImage(logo, 'PNG', centerX + index * logoWidth, startY, logoWidth, logoWidth);
                    });
    
                    doc.setFontSize(15);
                    var textWidth = doc.getStringUnitWidth(headerText) * doc.internal.getFontSize();
                    var pageWidth = doc.internal.pageSize.width;
                    var textX = (pageWidth - textWidth) / 2;
                    var headerY = startY + logoWidth + 7;
                    doc.setFont(undefined, 'bold');
                    doc.text(headerText, pageWidth / 2, headerY, 'center');
    
                    var columns = ["Field", "Details"];
                    var data = [
                        ["Subject", selectedReport.subject],
                        ["Date Reported", selectedReport.date_reported],
                        ["Barangay", selectedReport.barangay],
                        ["Description", selectedReport.description],
                        ["Status", selectedReport.response_status],

                    ];
    
                    var address = "";
                    if (selectedReport.latitude && selectedReport.longitude) {
                        try {
                            address = await getAddressFromCoordinatesPDF(selectedReport.latitude, selectedReport.longitude);
                        } catch (error) {
                            console.error('Error fetching address:', error);
                            address = "Error fetching address";
                        }
                    } else {
                        address = "Coordinates not available";
                    }
                    data.push(["Location", address]);
                    var columnWidths = [50, 100];
                    var columnStyles = {
                        0: { cellWidth: 50, halign: "left" },
                        1: { cellWidth: 130, halign: "left" },
                    };
    
                    doc.autoTable({
                        head: [columns],
                        body: data,
                        theme: "striped",
                        columnStyles: columnStyles,
                        margin: { top: startY + logoWidth + 20 },
                    });
    
                    if (selectedReport.attachment) {
                        await new Promise((resolve) => {
                            var img = new Image();
                            img.crossOrigin = 'Anonymous';
                            img.onload = function () {
                                var canvas = document.createElement('canvas');
                                var ctx = canvas.getContext('2d');
                                canvas.width = img.width;
                                canvas.height = img.height;
                                ctx.drawImage(img, 0, 0);
    
                                var dataURL = canvas.toDataURL('image/png');
                                var imgWidth = 100;
                                var imgHeight = (img.height * imgWidth) / img.width;
                                var imgX = 10;
                                var imgY = doc.autoTable.previous.finalY + 10;
                                doc.setFontSize(12);
                                doc.text('Attachment:', imgX, imgY - 1);
                                doc.addImage(dataURL, 'PNG', imgX, imgY, imgWidth, imgHeight);
    
                                resolve();
                            };
                            img.src = selectedReport.attachment;
                        });
                    }
                }
    
                doc.save("all_reports.pdf");

            } catch(error){
                console.error('Error exporting reports:', error);

            }
        }

        let marker;

        function displayReportDetails(reportId) {
            console.log("Selected report ID:", reportId);

            if (!reportId) {
                console.error("Report ID is required.");
                return;
            }

            $.ajax({
                url: "{% url 'get_report_details' %}",
                method: "GET",
                data: { report_id: reportId },
                dataType: "json",
                success: function (data) {
                    console.log('data', data)
                  const formattedDate = formatDateString(data.date_reported);
                  const formattedTime = formatTimeString(data.time_reported);

                    $("#modalSubject").text(data.subject);
                    $("#modalDateReported").text(formattedDate);
                    $("#modalBarangay").text(data.barangay);
                    $("#modalDescription").text(data.description);
                    if (data.attachment) {
                        const attachmentLink = `<a href="${data.attachment}" target="_blank">View Attachment</a>`;
                        $("#editAttachment").html(attachmentLink);
                    } else {
                        $("#editAttachment").empty();
                    }
                    $("#modalTimeReported").text(formattedTime);
                    $("#modalStatus").text(data.response_status);
                    $("#modalRespondentName").text(data.respondent_name);

                    var lat = data.latitude; 
                    var lng = data.longitude;
                    console.log('lat', lat)
                    var map = L.map('map').setView([lat, lng], 13);

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: 'Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
                            }).addTo(map);

                    var marker = L.marker([lat, lng]).addTo(map);
                    marker.bindPopup(data.subject).openPopup();
                    
                    getAddressFromCoordinates(lat, lng);

                            
                    $('#reportModal').on('shown.bs.modal', function () {
                        if (map !== null) {
                        map.invalidateSize();
                        }            
                    });
                    $('#reportModal').on('hidden.bs.modal', function () {
                        if (map !== null) {
                        map.remove();
                        map = null;
                        }
                    });
                    console.log('before ajax')
                    $.ajax({
                        url: `/get_response_status/${reportId}/`,
                        method: "GET",
                        success: function (getResponse) {
                            console.log('AJAX Success - get_response_status:', getResponse);
                            if (getResponse.success) {
                                const responseStatus = getResponse.response_status;
                                console.log('Response Status:', responseStatus);
                                const selectElement = $(`select.response-select[data-report-id='${reportId}']`);
                                selectElement.val(responseStatus).change();
                            } else {
                                console.error('Failed to fetch response status:', getResponse.error);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('AJAX Error - get_response_status:', error);
                            console.log('AJAX Error Details:', xhr);
                        }
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching report details: " + error);
                    console.log(xhr.responseText);
                }
            });
        }
        
        $(document).ready(function () {
            var paginationData = null;

            function loadAllReports(page) {
                $.ajax({
                    url: "{% url 'get_all_reports' %}",
                    method: "GET",
                    data: { page: page },
                    dataType: "json",
                    success: function (data) {
                        console.log("Success: Data received:", data);
                        if (page === 1) {
                            allBarangays = []; 
                        }
                        allBarangays = allBarangays.concat(data.reports);
                        updateReportsTable(data.reports, 'all-reports-table');
                        paginationData = data.pagination;
                        generatePagination(currentPage, paginationData.total_pages);
                        console.log("Reports table updated with data:", data.reports); 

                        // if (!paginationData.has_next) {
                        //     exportAllReportsToPDF(allBarangays); 
                        // }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching all reports: " + error);
                        console.log(xhr.responseText);
                    }
                });
            }

            loadAllReports(currentPage);

            $("#next-page").click(function (e) {
                e.preventDefault();
                if (paginationData && paginationData.has_next) {
                    currentPage = paginationData.next_page_number;
                    loadAllReports(currentPage);
                }
            });

            $("#previous-page").click(function (e) {
                e.preventDefault();
                if (paginationData && paginationData.has_previous) {
                    currentPage = paginationData.previous_page_number;
                    loadAllReports(currentPage);
                }
            });
            $('#exportAllPdfButton').click(function (e) {
                e.preventDefault();
                if (!paginationData.has_next | paginationData.has_next) {
                exportAllReportsToPDF(allBarangays); 
                }            
            });


            loadAllReports(currentPage);

            generatePagination(currentPage, paginationDataToday.total_pages); 

            function generatePagination(page, totalPages) {
                var pagination = $("#pagination");
                pagination.empty();

                if (totalPages <= 1) {
                    return;
                }

                var prevPage = page - 1;
                var nextPage = page + 1;

                var prevButton = $("<li/>", { class: "page-item" });
                var prevLink = $("<a/>", {
                    class: "page-link",
                    href: "#",
                    "aria-label": "Previous",
                }).append(
                    $("<span/>", {
                        ariaHidden: "true",
                        text: "Previous",
                    })
                );
                if (prevPage <= 0) {
                    prevButton.addClass("disabled");
                } else {
                    prevLink.click(function () {
                        loadAllReports(prevPage);
                        currentPage = prevPage;
                        generatePagination(currentPage, totalPages);
                    });
                }
                prevButton.append(prevLink);
                pagination.append(prevButton);

                for (var i = 1; i <= totalPages; i++) {
                    var pageButton = $("<li/>", { class: "page-item" });
                    var pageLink = $("<a/>", {
                        class: "page-link",
                        href: "#",
                    }).text(i);
                    if (i === page) {
                        pageButton.addClass("active");
                    }
                    pageLink.click((function (pageNumber) {
                        return function () {
                            loadAllReports(pageNumber);
                            currentPage = pageNumber;
                            generatePagination(currentPage, totalPages);
                        };
                    })(i));
                    pageButton.append(pageLink);
                    pagination.append(pageButton);
                }

                var nextButton = $("<li/>", { class: "page-item" });
                var nextLink = $("<a/>", {
                    class: "page-link",
                    href: "#",
                    "aria-label": "Next",
                }).append(
                    $("<span/>", {
                        ariaHidden: "true",
                        text: "Next",
                    })
                );
                if (nextPage > totalPages) {
                    nextButton.addClass("disabled");
                } else {
                    nextLink.click(function () {
                        loadAllReports(nextPage);
                        currentPage = nextPage;
                        generatePagination(currentPage, totalPages);
                    });
                }
                nextButton.append(nextLink);
                pagination.append(nextButton);
            }
            
        });

        function updateReportsTable(reports, tableId) {
            console.log("Update function called for table ID:", tableId);
            const table = $(`#${tableId}`);
            table.empty();

            if (reports.length === 0) {
                table.append("<tr><td colspan='5'>No reports available.</td></tr>");
            } else {
                reports.forEach(function (report) {
                    const formattedDate = formatDateString(report.date_reported);
                    const formattedTime = formatTimeString(report.time_reported);
                    
                    let respondButton;
                    if(report.responded){
                        respondButton = "<span class='btn btn-sm btn-secondary'>Responded</span>";
                    }else{
                        respondButton = `<button class='btn btn-sm btn-primary respond-button' data-report-id='${report.id}'>Respond</button>`;
                    }

                    let declinedButton;
                    if (report.responded || report.declined) {
                        declinedButton = "<span class='btn btn-sm btn-secondary' disabled>Declined</span>";
                    } else {
                        declinedButton = `<button class='btn btn-sm btn-danger decline-button' data-report-id='${report.id}'>Decline</button>`;
                    }

                    const tableRow = `<tr data-toggle="modal" data-target="#reportModal" data-respondent-name="${report.respondent_name}" data-report-id="${report.id}" data-subject="${report.subject}" data-responded="${report.responded}" data-description="${report.description}" data-attachment="${report.attachment}" data-date-reported="${report.date_reported}" data-status="${report.response_status}">
                        <td>${report.subject}</td>
                        <td>${formattedDate}</td>
                        <td>${formattedTime}</td>
                        <td>${report.barangay}</td>
                        <td>${report.response_status}</td>

                    </tr>`;
                    table.append(tableRow);
                });
            }
        }

        function formatDateString(dateString) {
            const options = { year: 'numeric', month: 'long', day: 'numeric' };
            const date = new Date(dateString);
            return date.toLocaleDateString('en-US', options);
        }

        function formatTimeString(timeString) {
            const options = { hour: '2-digit', minute: '2-digit' };
            const time = new Date(`2000-01-01T${timeString}`);
            return time.toLocaleTimeString('en-US', options);
        }
        function getAddressFromCoordinates(latitude, longitude) {
            const apiUrl = `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${latitude}&lon=${longitude}`;

            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    const address = data.display_name;
                    console.log('adress', address)
                    $("#modalLocation").text(address); 
                })
                .catch(error => {
                    console.error('Error fetching address:', error);
                });
        }
        function getAddressFromCoordinatesPDF(latitude, longitude) {
            return new Promise((resolve, reject) => {
                const apiUrl = `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${latitude}&lon=${longitude}`;

                fetch(apiUrl)
                    .then(response => response.json())
                    .then(data => {
                        const address = data.display_name;
                        resolve(address);
                    })
                    .catch(error => {
                        reject(error);
                    });
            });
        }
        const csrfToken = "{{ csrf_token }}";

        // $(document).on('click', '.respond-button', function () {
        //     const reportId = $(this).data('report-id');

        //     $.ajax({
        //         type: 'POST',
        //         url: '/update_report_responded/',
        //         beforeSend: function(xhr, settings) {
        //             xhr.setRequestHeader('X-CSRFToken', csrfToken); 
        //         },
        //         data: {
        //             report_id: reportId,
        //             responded: true
        //         },
        //         success: function (response) {
        //             if (response.success) {
        //                 $(`.respond-button[data-report-id='${reportId}']`).removeClass('btn-primary').addClass('btn-secondary').text('Responded');
        //             } else {
        //                 console.error('Failed to update responded status');
        //             }
        //         },
        //         error: function (xhr, status, error) {
        //             console.error('Error:', error);
        //         }
        //     });
        // });
        // $(document).on('click', '.decline-button', function () {
        //     const reportId = $(this).data('report-id');

        //     const confirmation = window.confirm('Are you sure you want to decline this report?');
            
        //     if (confirmation) {
        //         $.ajax({
        //             type: 'POST',
        //             url: '/update_report_declined/',
        //             beforeSend: function (xhr, settings) {
        //                 xhr.setRequestHeader('X-CSRFToken', csrfToken);
        //             },
        //             data: {
        //                 report_id: reportId,
        //                 declined: true
        //             },
        //             success: function (response) {
        //                 if (response.success) {
        //                     $(`.decline-button[data-report-id='${reportId}']`).removeClass('btn-warning').addClass('btn-danger').text('Declined');
        //                 } else {
        //                     console.error('Failed to update declined status');
        //                 }
        //             },
        //             error: function (xhr, status, error) {
        //                 console.error('Error:', error);
        //             }
        //         });
        //     } else {
        //         console.log('Decline operation canceled');
        //     }
        // });
        $(document).ready(function() {
            $('#reportModal').on('show.bs.modal', function(event) {
                const button = $(event.relatedTarget);
                const reportId = button.closest('tr').data('report-id');
                $(this).find('#reportIdInput').val(reportId);

            });
            $('#reportModal').on('click', '.save-button', function() {
                const reportId = $('#reportIdInput').val();
                const selectedOption = $('.response-select').val();
                console.log(reportId)
                if (reportId && selectedOption) {
                    $.ajax({
                        type: 'POST',
                        url: '/update_response_status/',
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader('X-CSRFToken', csrfToken); 
                        },
                        data: {
                            report_id: reportId,
                            response_status: selectedOption
                        },
                        success: function (response) {
                            if (response.success) {
                                console.log('Response status updated successfully');
                                $('#reportModal').modal('hide');
                            } else {
                                console.error('Failed to update response status');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                } else {
                    console.error('Report ID or selected option is missing');
                }
            });
        });
        
    </script>
    {% endblock %}

  </body>
</html>
