{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Report</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item active">
              <a class="nav-link text-light gov-link" href="https://www.gov.ph/">GOV PH</a>
            </li>
            <li class="nav-item active">
                <li class="dropdown">
                    <div class="dropdown show custom-dropdown no-focus-outline">
                      <a class="btn btn-custom text-light" href="{% url 'adminhomepage' %}" role="button" aria-haspopup="true" aria-expanded="false">
                       Home          
                      </a>
                    </div>
                  </li>
            </li>
            <li class="nav-item">
              <li class="dropdown">
                <div class="dropdown show custom-dropdown no-focus-outline">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us          
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'admin_missionvision' %}">Mission and Vision</a>
                    <a class="dropdown-item" href="{% url 'admin_barangays' %}" href="#">Barangays</a>
                  </div>
                </div>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="https://www.ibaan.gov.ph/beta/index.html">Contact Us</a>
            </li>
            
          </ul>

          <span class="navbar-text ">
            <li class="dropdown">
              <div class="dropdown show custom-dropdown no-focus-outline">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" v style="vertical-align: middle;"iewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg> {{user.email}}           
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'add_earthquakereport' %}">Add Report</a>
                  <a class="dropdown-item" href="{% url 'register' %}">Add Account</a>
                  <a class="dropdown-item" href="{% url 'logout' %}" href="#">Logout</a>
                </div>
              </div>
            </li>
          </span>
        </div>

      </nav>
      </header>

      <section>
        <div class="report-container">
            <h1 class="h1-report">ADD REPORT</h1>
        </div>
        {% for msg in messages %}
            <div class="alert alert-success alert-dismissible fade show alert-fixed" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        
        <div class="container-form align-items-center d-flex justify-content-center flex-column">
            <form method="POST" enctype="multipart/form-data" action="{% url 'admin_submit_report' %}">
                {% csrf_token %}
                
                <label for="subject">Subject</label>
                <select class="form-control w-100 mb-3" name="subject" id="subjectSelect" required>
                    <option value="" disabled selected>Subject</option>
                    <option value="Flood Report">Flood Report</option>
                    <option value="Earthquake Report">Earthquake Report</option>
                    <option value="Landslide Report">Landslide Report</option>
                    <!-- <option value="Weather Report">Weather Report</option> -->
                    <option value="Typhoon Report">Typhoon Report</option>
                </select>
                
                <div class="desc-div">
                    <textarea type="text" class="form-control mb-3" name="description" placeholder="Description" required></textarea>
                    
                    <div id="earthquakeFields" hidden>
                      <input type="date" class="form-control" name="date" placeholder="Date"><br>
                      <input type="time" class="form-control" name="time" placeholder="Time"><br>
                      <label for="origin">Origin</label>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="origin" id="tectonic" value="Tectonic">
                          <label class="form-check-label" for="tectonic">Tectonic</label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="origin" id="volcanic" value="Volcanic">
                          <label class="form-check-label" for="volcanic">Volcanic</label>
                      </div>
                    </div>
                    
                    <div id="otherFields" hidden>
                        <input type="date" class="form-control" name="date_reported" placeholder="Date Reported" required><br>
                        <input type="time" class="form-control" name="time_reported" placeholder="Time Reported" required><br>
                        <input type="file" class="form-control" name="attachment" placeholder="Attachment"><br>

                    </div>
                </div>
                
                <button type="submit" class="btn btn-warning text-light btn-submit mt-3">Submit Report</button>
            </form>
        </div>
        
        <script>
          document.getElementById('subjectSelect').addEventListener('change', function() {
              var selectedSubject = this.value;
              document.getElementById('earthquakeFields').hidden = (selectedSubject === 'Earthquake Report') ? false : true;
              document.getElementById('otherFields').hidden = (selectedSubject === 'Earthquake Report') ? true : false;

              // Iterate over elements in earthquakeFields and set required attribute
              document.getElementById('earthquakeFields').querySelectorAll('[name]').forEach(function(el) {
                  if (el.type !== 'file') {
                      el.required = (selectedSubject === 'Earthquake Report');
                  }
              });

              // Iterate over elements in otherFields and set required attribute
              document.getElementById('otherFields').querySelectorAll('[name]').forEach(function(el) {
                  if (el.type !== 'file') {
                      el.required = (selectedSubject !== 'Earthquake Report');
                  }
              });
             
          });

      </script>
    </section>
</body>
</html>
    

